body {
  background-color: #2b2b2b;
  color: #efefef;
  padding-top:50px;
}

a {
  color: #e0e0e0;
  text-decoration: underline;
}
a:hover {
  color: #efefef;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Questrial';
  font-weight: 400;
  text-shadow: 1px 1px 0px #000;
}

/*Headers*/
.header {
  height: 350px;
  padding-top: 130px;
  background-position: center center;
}

.header-home {
  background-image: url('/img/header-bg-001.jpg');
}

/*Text Banners*/
.banner {
  padding-top: 80px;
}
